.about {
    padding-top: var(--section__padding);
    padding-bottom: var(--section__padding);
}

.about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__left {
    width: calc(499 / 1100 * 100%);
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.about__item:not(:last-child) {
    margin-bottom: 64px;
}

.about__item-wrap {
    width: 40%;
    padding-left: 56px;
}

.about__icon {
    position: relative;
}

.about__icon::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about__icon-1::after {
    background-image: url(../../img/about/item-1.svg);
}

.about__icon-2::after {
    background-image: url(../../img/about/item-2.svg);
}

.about__icon-3::after {
    background-image: url(../../img/about/item-3.svg);
}

.about__icon-4::after {
    background-image: url(../../img/about/item-4.svg);
}

.about__icon-5::after {
    background-image: url(../../img/about/item-5.svg);
}

.about__icon-6::after {
    background-image: url(../../img/about/item-6.svg);
}

.about__number {
    display: block;
    margin-bottom: 8px;
    font-family: var(--font-fam__second);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    color: var(--blue-zodiac);
}

.about__right {
    width: calc(540 / 1100 * 100%);
    padding: 54px;
    color: var(--white);
    background-color: var(--blue-zodiac);
}

.about__header,
.about__title {
    color: inherit;
}

.about__title {
    margin-bottom: 24px;
}

.about__text:not(:last-child) {
    margin: 20;
}

@media (max-width: 414px) {
    .about {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .about__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about__left,
    .about__right {
        width: 100%;
    }

    .about__list {
        margin-bottom: 40px;
    }

    .about__item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .about__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .about__item-wrap {
        margin-right: 15px;
    }

    .about__number {
        font-size: 1.6rem;
    }

    .about__right {
        padding: 34px;
    }
}
