.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    width: calc(346 / 1100 * 100%);
    background-color: var(--white);
    -webkit-transition: -webkit-filter var(--short);
    transition: -webkit-filter var(--short);
    -o-transition: filter var(--short);
    transition: filter var(--short);
    transition: filter var(--short), -webkit-filter var(--short);
}

.article:hover {
    -webkit-filter: drop-shadow(0px 6px 24px var(--transparent__black-15));
    filter: drop-shadow(0px 6px 24px var(--transparent__black-15));
}

.article__cover {
    height: 204px;
}

.article__img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.article__content {
    padding: 14px 16px;
}

.article__link {
    display: block;
}

.article__link:hover {
    text-decoration: underline;
}

.article__link:active {
    -webkit-text-decoration-color: var(--orange);
    text-decoration-color: var(--orange);
}

.article__link:active .article__title,
.article__link:active .article__main-title {
    color: var(--orange);
}

.article__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: var(--font-fam__second);
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.1;
    color: var(--ebony-clay);
}

.article__author {
    font-weight: 500;
}


/*  MAIN ARTICLE  */


.article__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: calc(720 / 1100 * 100%);
}

.article__main-cover {
    width: calc(350 / 750 * 100%);
}

.article__main-content {
    width: calc(380 / 750 * 100%);
    padding: 32px;
}

.article__main-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--font-fam__second);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    color: var(--ebony-clay);
}

.article__main-text:last-of-type {
    margin-bottom: 16px;
}

.article__main-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article__main-author-photo {
    margin-right: 23px;
}

.article__main-author-avatar {
    border-radius: 100%;
}

.article__main-author-name {
    font-size: 1.125rem;
    line-height: 1.2;
    color: var(--ebony-clay);
}

.article__main-author-position {
    display: block;
}

@media (max-width: 414px) {
    .article__main,
    .article {
        width: 100%;
    }

    .article__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .article__main-cover,
    .article__main-content {
        width: 100%;
    }

    .article__main-content {
        padding: 20px;
    }

    .article__main-title {
        margin-bottom: 12px;
        font-size: 1.5rem;
    }

    .article__cover {
        height: 160px;
    }
}
