.btn {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
}

.btn--transparent,
.btn--fill {
    max-width: 300px;
    min-width: 100px;
    font-size: 1rem;
    line-height: 1.1;
    text-align: center;
    padding: 12px 24px;
}

.btn--transparent {
    color: var(--orange);
    background-color: transparent;
}

.btn--transparent:focus {
    outline-offset: 0;
}

.btn--transparent:hover {
    color: var(--grenadier);
}

.btn--fill {
    color: var(--white);
    background-color: var(--orange);
    -webkit-transition: background-color var(--short), -webkit-box-shadow var(--short);
    transition: background-color var(--short), -webkit-box-shadow var(--short);
    -o-transition: background-color var(--short), box-shadow var(--short);
    transition: background-color var(--short), box-shadow var(--short);
    transition: background-color var(--short), box-shadow var(--short), -webkit-box-shadow var(--short);
}

.btn--fill:focus {
    outline-offset: 3px;
}

.btn--fill:hover {
    -webkit-box-shadow: 0px 4px 16px var(--shadow);
    box-shadow: 0px 4px 16px var(--shadow);
}

.btn--fill:active {
    background-color: var(--grenadier);
}

.btn--orange {
    position: absolute;
    left: 40%;
    bottom: -20px;
    width: 64px;
    height: 48px;
    color: var(--white);
    background-color: var(--orange);
    -webkit-transition: background-color var(--short);
    -o-transition: background-color var(--short);
    transition: background-color var(--short);
}

.btn--orange::before,
.btn--orange::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    border-radius: 50px;
    background-color: currentColor;
}

.btn--orange::before {
    top: 50%;
    left: 37%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn--orange::after {
    top: 50%;
    right: 37%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

