.footer {
    padding-top: var(--section__padding);
    padding-bottom: 102px;
    color: var(--white);
    background-color: var(--blue-zodiac-2);
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 120px;
}

.footer__left {
    width: calc(255 / 1100 * 100%);
    margin-right: auto;
}

.footer__title {
    margin-bottom: 16px;
}

.footer__text {
    color: var(--transparent__gray-85);
}

.footer__text:last-of-type {
    margin-bottom: 24px;
}

.footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 68px;
}

.footer__spaces {
    max-width: 133px;
}

.footer__company {
    max-width: 84px;
}

.footer__support {
    max-width: 97px;
}

.footer__contacts {
    max-width: 212px;
}

.footer__list-title {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--transparent__white-5);
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__item-type {
    margin-right: 5px;
    font-weight: 700;
}

.footer__link {
    display: inline-block;
    line-height: 1;
    -webkit-transition: color var(--short);
    -o-transition: color var(--short);
    transition: color var(--short);
}

.footer__link:hover {
    color: var(--grenadier);
}

.footer__link:active {
    color: var(--orange);
}

@media (max-width: 1200px) {
    .footer__content {
        gap: 60px;
    }

    .footer__right {
        gap: 40px;
    }
}

@media (max-width: 414px) {
    .footer__content {
        gap: 30px;
    }

    .footer__content,
    .footer__right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__left {
        width: 100%;
    }

    .footer__spaces,
    .footer__company,
    .footer__support,
    .footer__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        max-width: 100%;
    }

    .footer__list-title {
        width: 90px;
        margin-bottom: 0;
    }
}
