.gallery {
    padding-top: var(--section__padding);
    padding-bottom: var(--section__padding);
    position: relative;
}

.gallery__content {
    position: absolute;
    top: 52px;
    right: 50px;
    width: calc(496 / 1100 * 100%);
}

.gallery__bottom {
    position: absolute;
    top: 0;
    right: 0;
}


/* ===================== SWIPER ===================== */


.gallery__swiper {
    width: 100%;
    position: relative;
}

.gallery__swiper-container {
    overflow: hidden;
}

.gallery__swiper .swiper-navigation {
    top: 30%;
    right: 37%;
}

.gallery__swiper-wrapper {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.gallery__swiper-slide {
    height: 350px;
}

.swiper-slide.gallery__swiper-slide.swiper-slide-next {
    width: 445px;
    height: 606px;
}

@media (max-width: 414px) {
    .gallery {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .gallery__content {
        z-index: 10;
        background-color: var(--white);
    }

    .gallery__bottom {
        top: 30px;
    }

    .gallery__swiper-slide {
        height: 250px;
    }

    .swiper-slide.gallery__swiper-slide.swiper-slide-next {
        height: 400px;
    }
}
