/* LATO  */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
    font-display: swap;
	src: local(''),
        url('../../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../../fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
    font-display: swap;
	src: local(''),
        url('../../fonts/Lato/Lato-Medium.woff2') format('woff2'),
        url('../../fonts/Lato/Lato-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
    font-display: swap;
	src: local(''),
        url('../../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../../fonts/Lato/Lato-Bold.woff') format('woff');
}


/* LORA */

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
    font-display: swap;
	src: local(''),
        url('../../fonts/lora-v24-latin-regular.woff2') format('woff2'),
        url('../../fonts/lora-v24-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
    font-display: swap;
	src: local(''),
        url('../fonts/lora-v24-latin-700.woff2') format('woff2'),
        url('../fonts/lora-v24-latin-700.woff') format('woff');
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-fam__main), sans-serif, Arial;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

img, svg {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

::-moz-selection {
    background-color: var(--orange);
}

::selection {
    background-color: var(--orange);
}

:focus {
    outline: 1px solid var(--orange);
    outline-offset: 10px;
}

.container {
    max-width: var(--container__max);
    margin: 0 auto;
    padding-left: var(--container__padding);
    padding-right: var(--container__padding);
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    margin-right: 20px;
    line-height: 1;
}

.title {
    display: inline-block;
    margin-top: 0;
    font-family: var(--font-fam__second);
    font-weight: 700;
}

.title--main {
    font-size: 3.25rem;
    line-height: 1.2;
    color: var(--white);
}

.title--second {
    display: block;
    font-size: 2.5rem;
    line-height: 1.1;
    color: var(--blue-zodiac);
}

.title--third {
    margin-bottom: 8px;
    font-family: var(--font-fam__main);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--ebony-clay);
    position: relative;
}

.title--third::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -89px;
    width: 73px;
    height: 2px;
    background-color: currentColor;
}

.text {
    margin-top: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
}

.text--gray {
    color: var(--dusty-gray);
}

.text--white {
    color: var(--white);
}

.main {
    overflow-x: hidden;
}

@media (max-width: 414px) {
    .container {
        padding-left: var(--small__padding);
        padding-right: var(--small__padding);
    }

    .title--main {
        font-size: 2.5rem;
    }

    .title--second {
        font-size: 1.8rem;
    }

    .title--third {
        font-size: 1rem;
    }

    .title--third::after {
        right: -55px;
        width: 45px;
    }
}
