.newsfeed {
    padding-top: 60px;
    padding-bottom: 96px;
    background-color: var(--alabaster);
}

.newsfeed__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 56px;
}

.newsfeed__title {
    max-width: 645px;
    margin-bottom: 0;
}

.newsfeed__link {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

.newsfeed__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1200px) {
    .newsfeed__articles {
        gap: 15px;
    }
}

@media (max-width: 414px) {
    .newsfeed {
        padding-top: 50px;
        padding-bottom: 45px;
    }

    .newsfeed__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 36px;
    }

    .newsfeed__title {
        max-width: 350px;
        margin-bottom: 10px;
    }

    .newsfeed__link {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .newsfeed__articles {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
